{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": ["src/**/*.ts", "src/**/*.tsx"],
  "exclude": [
    "tests/**",
    "playwright.config.ts",
    "node_modules/**",
    "build/**",
    "dist/**",
    "src/**/*.{type,d}.ts",
    "src/components/**/index.ts",
    "src/redux/slices/agentBuilder/**",
    "src/redux/slices/knowledgeHub/**"
  ],
  "reporter": ["html", "text", "text-summary"],
  "check-coverage": true,
  "sourceMap": true,
  "instrument": true,
  "branches": 19,
  "lines": 19,
  "functions": 19,
  "statements": 19
}