.react-flow__handle {
  width: 9px;
  height: 9px;
  background-color: #64676db1;
}

.react-flow__handle.bg-\[\#dd7bdd\] {
  background-color: #dd7bdd;
}

.react-flow__handle-left.left-1 {
  left: 4px;
}